<h5 class="mb-2">Cadastro de Produtos</h5>
<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Produto</label>
        <input type="text" 
               class="form-control" 
               id="nome" 
               placeholder="Informe o nome" 
               required />
    </div>

    <div class="mb-3">
        <label for="preco" class="form-label">Preço</label>
        <input type="number" 
               class="form-control" 
               id="preco" 
               placeholder="R$" 
               required />
    </div>

    <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" 
               class="form-control" 
               id="quantidade" 
               placeholder="Digite a quantidade do produto"
               required />
    </div>

    <div class="mb-3">
        <label for="quantidade" class="form-label">EAN</label>
        <input type="number" 
               class="form-control" 
               id="ean" 
               placeholder="Informe o ean"
               required />
    </div>

    <button type="submit" class="btn btn-success">
        Cadastrar Produto
    </button>
</form>